
body {
    background-color: white;
}

.header-content {
    color: white;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.video {
    height: 1050px;
    position: absolute; 
    margin-left: 5%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
    display: flex;
    /* flex-basis: 0%;
    flex: 10;  */
}

.un {
    padding: 200px;
    font-size: 90px;

}

.list {
    display: flex; 
    gap: 480px;
    position: relative;
    flex-wrap: wrap; 
    flex-direction: row;
} 

.text-head {
    display: flex;
    gap: 30px;
    text-align: right; 
    font-size: large;
    align-content: flex-end; 
    padding: 30px; 
    flex-wrap: wrap;
}

.logo {
    padding: 30px;
}

.footer-Container {
    padding: 0px;
    background-color: #161F1E;
    color: white;
    /* position: relative; */
}

.footer-box {
    display: flex;
    gap: 500px;
}

.box {
    display: flex;
    gap: 70px;
    margin-top: 3%;
}

.logo-img {
    /* height: 50px;
    width: 60px;
    padding: 50px; */
}

.logo2 {
    align-items: center;
    padding-left: 30px;
    margin-top: 30px;
}

* {
    box-sizing: border-box;
}

.text-container {
    display: flex;
    padding-left: 60px;
    margin-top: 10%; 
    gap: 250px;
    justify-content: center;
    align-items: center;  
}

.text-ourWorld {
    width: 50%;
    height: max-content;
}

.img-scuba {
    height: 80%;
}

.copyright {
    padding: 30px;
}

.part-1 {
    display: block;
    color: black;
    text-align: center;
    font-size: 40px;
    font-style: oblique;
    margin-top: 10%;
}

.bottom-block {
    text-align: center;
    background-image: url("../assets/experience/our_world.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    font-size: 70px;
    padding: 80px;
    color: white;
}

.part-2 {
    display: flex;
    background-color: #f3f3f3;
    padding-top: 150px;
    align-content: center;
    
}

.Image {
    width: 50%;
    height: 50%;
    
}


.img-part-text {
    background-color: white;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    margin-top: 10%;
    font-size: 30px;
    align-content: center;
    margin-right: 5%;
    text-align: center;
    block-size: 500px;
    border-block-end-width: 500px;
}

.img-part-tex1 {
    background-color: white;
    /* width: 100%;
    height: 100%; */
    padding-top: 1%;
    margin-top: 10%;
    font-size: large;
    align-content: center;
    margin-left: 5%;
    text-align: center;
    position: relative;
    top: 50px;
    left: 60px;
    right: 70px;
    block-size: 500px;
    
}

.part-3 {
    display: flex;
    background-color: #f3f3f3;
    padding-top: 150px;
    align-content: center;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

