
body {
    background-color: black;
}

.header-content {
    color: white;
    display: flex;
}

.list {
    display: flex;
    gap:500px;
} 

.text-head {
    display: flex;
    gap: 30px;
    text-align: right;
    font-size: large;
    align-content: flex-end;
    justify-content: stretch;
    padding: 30px;
}

.logo {
    padding: 30px;
}
.footer-Container {
    padding: 0px;
    background-color: #161F1E;
    color: white;
    position: relative;
}

.footer-box {
    display: flex;
    gap: 500px;
}

.box {
    display: flex;
    gap: 70px;
}

.logo-img {
    height: 50px;
    width: 60px;
    padding: 50px;
}

.logo2 {
    align-items: center;
}

* {
    box-sizing: border-box;
}

.copyright {
    padding: 30px;
}

.part-1 {
    display: block;
    color: white;
    text-align: center;
    font-size: 40px;
    opacity: 1;
}

.bottom-block {
    text-align: center;
    background-image: url("../assets/experience/our_world.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    font-size: 70px;
    padding: 80px;
    color: white;
}
