body {
    background-color: black;
}

.main {
    display: flex;
    gap: 20px;
    padding: 100px 0px 0px 0px;
}

.main1 {
    display: flex;
    gap: 20px;
}

.img {
    height: 150px;
    width: 315px; 
}

.caption {
    text-align: left;
    color: white;
}

.caption-place {
    text-align: left;
    color: white;
}

.header {
    color: white;
    display: flex;
}

.header-content {
    color: white;
    display: flex;
}

.list {
    display: flex;
    gap:500px;
} 

.text-head {
    display: flex;
    gap: 30px;
    text-align: right;
    font-size: large;
    align-content: flex-end;
    justify-content: stretch;
    padding: 30px;
}

.logo {
    padding: 30px;
}

.footer-Container {
    padding: 0px;
    background-color: #161F1E;
    color: white;
}

.footer-box {
    display: flex;
    gap: 500px;
}

.box {
    display: flex;
    gap: 70px;
}

.logo-img {
    /* height: 50px;
    width: 60px;
    padding: 50px; */
}

.logo2 {
    align-items: center;
    padding-left: 30px;
    margin-top: 30px;
}

* {
    box-sizing: border-box;
}

.copyright {
    padding: 30px;
}

@media (min-width: 350px) and (max-width: 420px) {
    
.header-content {
    display: flex;
    flex-direction: column;
    width: 360px;
}


.list {
    display: flex;
    flex-direction: column;
    width: 360px;
} 

.header {
    display: flex;
}

.text-head {
    display: flex;
    flex-direction: column;
    margin-top: -400px;
    text-align: left;
}

.main {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    
}

.main1 {
    display: flex;
    gap: 30px;
    padding-left: 10px;
}

.img {
    height: 83px;
    width: 150px; 
}
.footer-Container {
    padding: 0px;
    box-sizing: border-box;
    width: 360px;
}

.footer-box {
    display: flex;
    flex-direction: column;

}

.caption {
    font-size: 12px;
}

.caption-place {
    font-size: 12px;
}

.box {
    display: flex;
    flex-direction: column;
    margin-top: -350px;
}

}